:root {
  --grey: #d1d1d1;
  --light-grey: #f9f9f9;
  --white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 30px;
  height: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-info,
.education,
.experience {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 400px;
  margin: 30px 0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

input {
  background-color: var(--grey);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 300px;
  margin: 10px 0;
  padding: 0px 10px;
  font-size: 18px;
}

.arrow-icon {
  cursor: pointer;
}

button {
  display: block;
  background-color: var(--grey);
  height: 35px;
  width: 200px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.cv-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 400px;
  height: 800px;
  margin: 30px 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cv-general-info {
  background-color: var(--grey);
  text-align: center;
  width: 100%;
  padding: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.cv-education {
  height: 33%;
  margin-top: 30px;
}

.cv-experience {
  height: 33%;
}

@media only screen and (min-width: 620px) {
  .cv-template {
    width: 600px;
  }
}

@media only screen and (min-width: 1080px) {
  main {
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
  }

  .cv-template {
    width: 600px;
  }
}
